<div class="container-fluid lt-white plain-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-white">
                <h2>Disclaimer</h2>
                <p>
                    This website, "Findurstocks.com", is offered to you conditioned on your acceptance without
                    modification of the terms, conditions and notices contained herein. By accessing and using this
                    website, you are deemed to have agreed to all such terms, conditions, and notices.
                    "Findurstocks.com" contains statements and statistics that have been obtained from sources believed
                    to be reliable but are not guaranteed as to accuracy or completeness. References to any specific
                    securities and "candidate" state do not constitute an offer to buy or sell securities. The past
                    performance of a mutual fund, stock, or investment strategy cannot guarantee its future performance.
                    "Findurstocks.com" is a research service that provides financial data and technical analysis of
                    publicly traded stocks. Usage of our website will not be held liable for any losses in your
                    investment accounts based on any information provided on the website. All users should speak with
                    their financial advisor before buying or selling any securities. Users should not base their
                    investment decision upon "Findurstocks.com".
                    Different types of investments involve varying degrees of risk, and there can be no assurances that
                    any specific investments will either be suitable or profitable for the website's user investment
                    portfolio. No user should assume that any information presented and/or made available on this
                    website serves as the receipt of, or a substitute for, personalized individual advice from the
                    advisor or any other professional investor.
                    The information contained on this website is provided for informational purposes only and contains
                    no investment advice or recommendations to buy or sell any specific shares. This is not an offer or
                    solicitation for any particular trading strategy, or confirmation of any transaction.
                    The owners of this website are not liable for any errors, omissions or misstatements. Any
                    performance data quoted represents past performance and that past performance is not a guarantee of
                    future results. Investments always have a degree of risk, including the potential risk of the loss
                    of the investor’s entire principal.
                    There is no guarantee against any loss.</p>
                <p class="font-16">Findurstocks THE INFORMATION PROVIDERS SHALL HAVE ANY LIABILITY, CONTINGENT OR OTHERWISE FOR THE
                    ACCURACY, COMPLETENESS, TIMELINESS, OR CORRECT SEQUENCING OF THE INFORMATION OR FOR ANY DECISION
                    MADE OR ACTION TAKEN BY YOU IN RELIANCE UPON THE INFORMATION OR "Findurstocks.COM" OR FOR
                    INTERRUPTION OF ANY DATA, INFORMATION, OR ANY OTHER ASPECT OF "Findurstocks.COM" THE PAST
                    PERFORMANCE OF A MUTUAL FUND, STOCK, OR INVESTMENT STRATEGY CANNOT GUARANTEE ITS FUTURE PERFORMANCE.
                    Findurstocks ITS INFORMATION PROVIDERS MAKE ANY REPRESENTATIONS ABOUT THE SUITABILITY OF THE
                    INFORMATION, SOFTWARE, PRODUCTS, OR SERVICES CONTAINED IN "Findurstocks.COM" ALL SUCH INFORMATION,
                    SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND.</p>
            </div>
        </div>
    </div>
</div>
