<!-- Container1 -->
<div class="header-content text-center">
    <div class="container">
      <h1 class="super-heading">Stock Research & Analysis
        <br> "Portal" by
        <span class="theme-color">Money Corner Technologies</span>
      </h1>
      <p class="sub-heading">This blog is focused to teach stock market investing to do-it-yourself (DIY) investors to help them become more confident
        and intelligent through step-by-step education and guidance.</p>
  
      <div class="row text-center">
        <div class="col-sm-12">
          <img src="./assets/images/mct-home.png" class="banner-img" alt="Money Corner Technologies">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Container2 (The Band Section) -->
  <div class="container block2 text-center">
    <h2 class="content-heading-dark">STOCK UPDATE</h2>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
  
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="./assets/images/chart1.png" alt="chart1" style="width:100%;">
            </div>
  
            <div class="item">
              <img src="./assets/images/chart1.png" alt="chart1" style="width:100%;">
            </div>
  
            <div class="item">
              <img src="./assets/images/chart1.png" alt="chart1" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center p-top-90">
        <button class="rounded-btn">COMPARE</button>
      </div>
    </div>
  </div>
  
  <!-- Container3 -->
  <div class="container-fluid block3">
    <div class="container block3">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="content-heading-dark">
            <span class="small-heading">About our</span>
            <br>Company</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
            sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          </p>
          <div class="p-top-30">
            <button class="rounded-btn">KNOW MORE</button>
          </div>
        </div>
        <div class="col-sm-7">
          <img src="./assets/images/chart-graph.png" alt="chart" class="graph-move">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Container4 -->
  <div class="container-fluid">
    <div class="container block4">
      <div class="row">
        <div class="col-sm-6">
          <img src="./assets/images/video.png" alt="video" class="img-responsive">
        </div>
        <div class="col-sm-6">
          <h2 class="content-heading-dark">Watch Our Video</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
            sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          </p>
        </div>
      </div>
    </div>
  </div>